<h1>{{ controller.name }}</h1>

<ul class="tweets">
  {{#each tweet in controller.tweets }}
  <li>{{ tweet.content }}</li>
  {{/each}}
</ul>

<ul class="posts">
  {{#each post in controller.posts }}
  <li>{{ post.title }}</li>
  {{/each}}
</ul>
